*{
    box-sizing: border-box;
}
html{
    margin: 0; padding: 0;
    width: 100%;
    min-height: 800px;

    background: #fff;
}

body{
    margin: 0 auto; padding: 0 1vh;
    width: 60%; min-width: 800px;
    min-height: 100vh;

    background: #c6beab;

    text-align: center;
}

header, nav, section, div#imageBar, footer{
    margin: 0 0 1vh 0;
    padding: 10px;
    background: #fff;
    border: 1px solid black;

    box-shadow: #000000 0 0 2vh;
}

header{
    background: white;
    padding: 0;
    min-height: 10vh;
}

nav{
    padding: 0;
}

div#imageBar{
    height: 37vh;
}

section{
    min-height: 55vh;
}

footer{
    height: 5vh;
    margin:0;
}