*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, nav, section, div#slideShow, footer{
    background: #fff;
}

html{
    background: url("../res/img/woodPatLong.jpg")no-repeat top;
    background-size: cover;
}

body{
    padding: 0vw 1vw;
}

header{
    text-align: center;
    /*min-height: 10vh;*/
}

nav{
    background: none;
    padding: 0.5vw;
    text-align: center;
}

nav ul{
    list-style: none;
}

nav ul li{
    background: none;
    font-family: "Oleo Script", serif;
    color: white;
}

section{
    padding: 1vw 3vw;
}

div#slideShow {
    display: none;
}

footer{
    text-align: center;
    font-size: 0.8em;
    background: #62574c;
    color: white;
    padding: 1vh;
}

footer p:nth-child(1){
    width: 60%;
    float:left;
}

footer p:nth-child(2){
    width: 38%;
    float:right;
}

hr{
    clear: both;
    opacity: 0;
}

figure{
    margin: 0 auto;
}

figure img{
    width: 100%;
}

@media (min-width: 1000px){
    header, nav, section, div#slideShow, footer{
        border: 1px solid black;
        box-shadow: #000000 0 0 1vh;
        margin-bottom: 0.5vw;
    }

    body{
        width: 60%;
        min-width: 600px;
        margin: 0 auto;
    }

    nav{
        padding: 0;
        background: white;
    }

    nav ul{
        height: 100%;
    }

    nav ul li{
        height: 100%;
        width: 32%;
        padding: 0;
        display: inline-block;
        cursor: pointer;
        color: black;
    }

    nav ul li:hover{
        box-shadow: #ffe9cf 0 0 1vh;
        font-weight: bold;
    }

    div#slideShow {
        display: block;
        height: 37vh;
        overflow: hidden;
    }
}

/**********************************************************************************************************************/
h1{
    font-family: Marcellus;
    text-align: center;
    text-shadow: #ffb98a 0 0 0.5vh;
}

h2{
    margin-bottom: 3vh;
    font-family: Marcellus;
    text-decoration: overline;
    text-align: center;
}

h3{
    margin-bottom: 1vh;
    font-family: Marcellus;
    text-align: center;
}

p{
    font-family: Laila;
}

section p{
    margin-bottom: 2vh;
    text-align: justify;
}

a.none{
    color: inherit;
    text-decoration: none;
}

form{
    margin: 1vh 0;
    font-size: 1.6em;
}

form *{
    margin: 1vh 0;
}

form label{
    font-weight: bold;
}

form input{
    padding: 1vh;
    width: 100%;
    font-size: 1.25em;
}

form textarea{
    padding: 1vh;
    width: 100%;
    height: 10vh;
    font-size: 1.25em;
}

div#gallery{
    text-align: center;
}

figure.galleryFig {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

figure.galleryFig img{
    width: 100%;
}

section#image figure{
    width: 100%;
}

section#image figure:hover{
    transform: scale(1);
}

section#image figure img{
    width: 100%;
    height: auto;
}

section#image a{
    color: #4d87e2;
    text-decoration: underline;
}

figure.optionGallery{
    width: 50%;
}

figure img{
    width: 100%;
}

input#mailButton{
    width: 50%;
    background: #feffe5;
    cursor: pointer;
}
@media (min-width: 1000px){
    header figure{
        width: 35%;
        display: inline-block;
    }

    header figure img{
        width: 100%;
    }

    header h1{
        padding-top: 3vh;
        width: 64%;
        float: right;
    }

    div#slideShow {
        display: block;
        height: 37vh;
    }

    form{
        margin: 1vh auto;
        width: 100%;
        font-size: 1em;
    }

    form div:nth-child(1){
        width: 45%;
        float: left;
    }

    form div:nth-child(2){
        width: 50%;
        float: right;
    }

    form label{
        font-weight: bold;
    }

    form input{
        padding: 1vh;
        font-size: 1em;
    }

    form textarea{
        padding: 1vh;
        height: 20vh;
        font-size: 1em;
    }

    form hr{
        clear: both;
    }

    div#slideShow figure, div#slideShow figure img{
        width: 100%;
    }

    div#gallery{
        text-align: center;
    }

    figure.galleryFig{
        display: inline-block;
        width: auto;
        height: 25vh;
        transition: 500ms ease-in-out;
    }

    figure.galleryFig:hover{
        transform: scale(1.25);
    }

    figure.galleryFig img{
        display: inline-block;
        width: auto;
        height: 100%;
    }

    figure.optionGallery{
        display: inline-block;
        width: 24%;
        height: 15vh;
    }

    figure.optionGallery img{
        width: 100%;
        height: 100%;
    }
}

.left{
    text-align: left;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}