header{
    display: flex;
    align-items: center;
}

header img{
    height: 100%;
}

header h1{
    margin: 0 auto;
    display: inline-block;
}

ul, li{
    padding: 0;
    margin: 0;
}

nav ul{
    list-style: none;
}

nav ul li{
    background: #fFF;
    width: 20%;
    display: inline-block;

    list-style: none;
    font-size: 1.5em;
    cursor: pointer;
}

NAV UL LI:HOVER{
    background: #ffe9cf;
}

div#imageBar{
    background: url("../res/img/foto6-1.png");
}

section{
    padding: 6vw 3vw;
    text-align: justify;

    font-size: 1.5em;
}

section h2{
    margin: 0;
}