.font1{
    font-family: Marcellus;
}

.font2{
    font-family: Laila;
}

.font3{
    font-family: "Oleo Script";
}

@font-face {
    font-family: Laila;
    src: url("../font/Laila-Regular.ttf");
}


@font-face {
    font-family: Marcellus;
    src: url("../font/Marcellus-Regular.ttf");
}


@font-face {
    font-family: "Oleo Script";
    src: url("../font/OleoScript-Regular.ttf");
}