<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Escaleras y barandillas</title>
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/standard.css">
    <link href='https://fonts.googleapis.com/css?family=Marcellus' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Laila' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
    <figure><img src="res/img/logo.png" alt?="logoSolesba"></figure>
    <h1>Escaleras & Barandillas</h1>
</header>

<div id="slideShow">
    <img src="res/img/barandillas/bar%20(1).JPG" alt="slideshow">
</div>

<nav>
    <ul>
        <li>MENU</li>
        <li><a href="index.php">NUESTRA EMPRESA</a></li>
        <li><a href="galery.html">GALERÍA</a></li>
        <li><a href="contact.html">CONTACTO</a></li>
    </ul>
</nav>

<section>
    <h2>Nuestra empresa</h2>
    <h3>Fabricantes des de 1980:</h3>
    <p>
        Nuestra empresa viene ofreciendo a todos sus clientes su experiencia y profesionalidad en la fabricacion,
        diseño y montaje de todo tipo de escaleras y barandillas
    </p>

    <h3>Fabricamos su escalera a medida:</h3>
    <p>
        Nos adaptamos a cualquier espacio o hueco, nuestras escaleras están diseñadas con todo tipo de detalles, logrando
        con ello la garantía y satisfacción de nuestros clientes.
    </p>

    <h3>Nuestros materiales:</h3>
    <p>
        Los materiales que combinamos con nuestras diferentes clases de madera son, entre otros, acero inoxidable,
        vidrio, metal y otros materiales opcionales a petición del cliente.
    </p>

    <h3 class="center">Empresa pionera en la fabricación de escaleras</h3>

    <figure id="iso" class="right">
        <img src="res/img/applus_iso9001.jpg" alt="Certificado ISO">
        <figcaption>Certificacion ISO9001:2000 con Applus</figcaption>
    </figure>


</section>

<footer class="font3">
    Solesba 1980 - 2016
</footer>
</body>
</html>